<form class="form-search">
	<fieldset>
		<div class="input-append">
			<input type="text" class="js-input input-large search-query" placeholder="Search for tweets…">
			<button type="submit" class="btn btn-primary js-submit"><i class="icon-search">&nbsp;</i><span class="text">Search!</span></button>
		</div>
	</fieldset>
</form>