<a class="btn dropdown-toggle btn-small" data-bypass="true" data-toggle="dropdown" href="#">
	View Past Searches
	<span class="caret"></span>
</a>
<ul class="dropdown-menu js-recentSearches" role="menu">
</ul>