<form class="form-search">
	<fieldset>
		<input type="search" class="js-input input-medium search-query" placeholder="Search for tweets…">
		<button type="submit" class="js-submit btn">Submit</button>
	</fieldset>
</form>