body {
  padding-top: 60px;
}

.navbar .brand {
  float: right;
}

.user-picture.img-circle {
  border: 4px solid white;
}

[data-widget="search"] {
  margin-right: 20px;
}

[data-widget="search"] form {
  margin: 5px 0;
}

[data-widget="search"] form .btn-primary {
  margin: 0;
}

[data-widget="search"] form .search-query {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

[data-widget="search"] form .search-query:hover {
  opacity: 0.8;
}

[data-widget="search"] form .search-query:focus {
  opacity: 1;
}

[data-widget="recent-searches"] {
  margin-top: 7px;
}

[data-widget="recent-searches"] .btn-group {
  margin: 0;
}

[data-widget="recent-searches"] .btn-group .dropdown-menu {
  font-size: 12px;
}

[data-widget="recent-searches"] .btn-group .dropdown-menu a:hover .muted {
  color: #cceeff;
}

[data-widget="results"] [data-action="load-more"] {
  width: 100%;
  margin-top: 10px;
}

[data-widget="results"] .wrapper {
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

[data-widget="results"] .result-item {
  display: block;
}

[data-widget="results"] .result-item a {
  display: block;
  padding: 10px 5px;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="results"] .result-item a:hover {
  color: white;
  background-color: #0088cc;
}

[data-widget="results"] .result-item a:hover .muted {
  color: #cceeff;
}

[data-widget="results"] .result-item .user-picture {
  width: 40px;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="results"] .result-item h1 {
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 14px;
}

[data-widget="results"] .result-item:nth-child(2n) {
  background-color: #eee;
}

[data-widget="results"] .result-item.selected .user-picture {
  border-color: #005580;
}

[data-widget="visualisation"] .result-holder {
  width: 100%;
  height: 509px;
  padding: 0;
  margin: 0;
  background: #e6e6e6;
}

[data-widget="visualisation"] .result-detail {
  padding: 10px;
  background: #FFF;
  box-sizing: border-box;
}

[data-widget="visualisation"] .result-detail .screen-name {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="visualisation"] .result-detail .screen-name h1 {
  font-size: 24.5px;
}

[data-widget="visualisation"] .result-detail .screen-name .user-picture {
  width: 50px;
  margin: 0 10px 0 0;
  border-color: #0088cc;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="visualisation"] .result-detail .screen-name:hover .user-picture {
  border-color: #005580;
}

[data-widget="visualisation"] .result-detail .followers {
  padding: 5px 10px;
  margin: 20px 0 0 0;
  font-size: 100%;
}

[data-widget="visualisation"] .result-detail .meta {
  margin-left: 20px;
}

[data-widget="visualisation"] .result-detail .tweet-text {
  position: relative;
  padding: 15px;
  margin: 90px 0 0.5em;
  color: #333;
  background: #eee;
  border-radius: 10px;
}

[data-widget="visualisation"] .result-detail .tweet-text:after {
  position: absolute;
  top: -30px;
  left: 15px;
  display: block;
  width: 0;
  border: 15px solid transparent;
  border-bottom-color: #eee;
  content: "";
}