body {
	padding-top: 60px;
}

.navbar .brand {
	float: right;
}

.nav-list .result-item {
	display: block;

	a {
		display: block;
		padding: 10px 5px;
		margin: 0;

		&:hover {
			background-color: transparent;
		}
	}

	h1 {
		margin: 0;
		font-size: 12px;
		line-height: 14px;
	}

	&:nth-child(2n) {
		background-color: #eee;
	}
}