body {
  padding-top: 60px;
}

.navbar .brand {
  float: right;
}

.user-picture.img-circle {
  border: 4px solid white;
}

.container-fluid {
  margin-bottom: 40px;
}

[data-widget="search"] {
  margin-right: 20px;
}

[data-widget="search"] form {
  margin: 5px 0;
}

[data-widget="search"] form .btn-primary {
  margin: 0;
}

[data-widget="search"] form .search-query {
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

[data-widget="search"] form .search-query:hover {
  opacity: 0.8;
}

[data-widget="search"] form .search-query:focus {
  opacity: 1;
}

[data-widget="recent-searches"] {
  margin-top: 7px;
}

[data-widget="recent-searches"] .btn-group {
  margin: 0;
}

[data-widget="recent-searches"] .btn-group .dropdown-menu {
  font-size: 12px;
}

[data-widget="recent-searches"] .btn-group .dropdown-menu a:hover .muted {
  color: #cceeff;
}

[data-widget="results"] .well {
  padding-top: 10px;
}

[data-widget="results"] [data-action="load-more"] {
  display: block;
  width: 100%;
  margin: 10px auto;
}

[data-widget="results"] [data-action="load-more"] .icon-chevron-right {
  visibility: hidden;
}

[data-widget="results"] .sidebar {
  padding: 0;
}

[data-widget="results"] .nav-list {
  padding: 0;
}

[data-widget="results"] .nav-header {
  margin: 0;
  text-align: center;
}

[data-widget="results"] .wrapper {
  max-height: 583px;
  overflow: scroll;
  border-bottom: 1px solid #ccc;
}

[data-widget="results"] .wrapper .loading {
  font-size: 80%;
  color: #cccccc;
  text-align: center;
  text-transform: uppercase;
}

[data-widget="results"] .result-item {
  display: block;
}

[data-widget="results"] .result-item a {
  display: block;
  padding: 10px 5px;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="results"] .result-item a:hover {
  color: white;
  background-color: #0088cc;
}

[data-widget="results"] .result-item a:hover .muted {
  color: #cceeff;
}

[data-widget="results"] .result-item .user-picture {
  width: 40px;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="results"] .result-item h1 {
  margin: 8px 0 0 0;
  font-size: 12px;
  line-height: 14px;
}

[data-widget="results"] .result-item:nth-child(2n) {
  background-color: #eee;
}

[data-widget="results"] .result-item.selected .user-picture {
  border-color: #005580;
}

[data-widget="visualisation"] .js-message .js-reset {
  position: relative;
  top: -3px;
}

[data-widget="visualisation"] .result-holder {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
  background: #e6e6e6;
}

[data-widget="visualisation"] .result-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  background: #FFF;
  opacity: 0;
  box-sizing: border-box;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

[data-widget="visualisation"] .result-detail.secondary blockquote,
[data-widget="visualisation"] .result-detail.secondary .meta {
  display: none;
}

[data-widget="visualisation"] .result-detail.secondary .followers.badge {
  width: 100%;
  margin-top: 0.5em;
  font-size: 1.5em;
  text-align: center;
  box-sizing: border-box;
}

[data-widget="visualisation"] .result-detail.small {
  font-size: 8px;
}

[data-widget="visualisation"] .result-detail.small .screen-name h1 {
  font-size: 1.8em;
  line-height: 1.6em;
}

[data-widget="visualisation"] .result-detail.small .screen-name .user-picture {
  width: 4em;
}

[data-widget="visualisation"] .result-detail.small .tweet-text {
  margin-top: 5.5em;
}

[data-widget="visualisation"] .result-detail.small .tweet-text:after {
  position: absolute;
  top: -2em;
  left: 0.4em;
  display: block;
  width: 0;
  border: 1em solid transparent;
  border-bottom-color: #eee;
  content: "";
}

[data-widget="visualisation"] .result-detail.medium {
  font-size: 10px;
}

[data-widget="visualisation"] .result-detail.medium .screen-name h1 {
  font-size: 1.8em;
  line-height: 1.6em;
}

[data-widget="visualisation"] .result-detail.medium .screen-name .user-picture {
  width: 4em;
}

[data-widget="visualisation"] .result-detail.medium .tweet-text {
  margin-top: 6.5em;
}

[data-widget="visualisation"] .result-detail.medium .tweet-text:after {
  position: absolute;
  top: -2em;
  left: 1em;
  display: block;
  width: 0;
  border: 1em solid transparent;
  border-bottom-color: #eee;
  content: "";
}

[data-widget="visualisation"] .result-detail.most-popular .followers.badge {
  background-color: #b94a48;
}

[data-widget="visualisation"] .result-detail.most-popular .screen-name {
  color: #b94a48;
}

[data-widget="visualisation"] .result-detail.most-popular .screen-name .user-picture {
  border-color: #b94a48;
}

[data-widget="visualisation"] .result-detail.most-popular .screen-name:hover {
  color: #833332;
}

[data-widget="visualisation"] .result-detail.most-popular .screen-name:hover .user-picture {
  border-color: #833332;
}

[data-widget="visualisation"] .result-detail.most-popular .tweet-text {
  color: #FFF;
  background: #a74240;
}

[data-widget="visualisation"] .result-detail.most-popular .tweet-text:after {
  border-bottom-color: #a74240;
}

[data-widget="visualisation"] .result-detail .screen-name {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="visualisation"] .result-detail .screen-name h1 {
  font-size: 2em;
}

[data-widget="visualisation"] .result-detail .screen-name .user-picture {
  width: 5em;
  margin: 0 1em 0 0;
  border-color: #0088cc;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

[data-widget="visualisation"] .result-detail .screen-name:hover .user-picture {
  border-color: #005580;
}

[data-widget="visualisation"] .result-detail .followers {
  padding: .5em 1em;
  margin: 2em 0 0 0;
  font-size: 1em;
}

[data-widget="visualisation"] .result-detail .meta {
  margin-left: 1.5em;
}

[data-widget="visualisation"] .result-detail .tweet-text {
  position: relative;
  padding: 1em;
  margin: 8.5em 0 0.5em;
  font-size: 1em;
  color: #333;
  background: #eee;
  border-radius: 10px;
}

[data-widget="visualisation"] .result-detail .tweet-text p {
  font-size: 1.2em;
}

[data-widget="visualisation"] .result-detail .tweet-text:after {
  position: absolute;
  top: -3em;
  left: 1em;
  display: block;
  width: 0;
  border: 1.5em solid transparent;
  border-bottom-color: #eee;
  content: "";
}

@media (max-width: 767px) {
  [data-widget="results"] .well {
    padding: 0 10px;
  }
  [data-widget="results"] [data-action="load-more"] {
    margin: 0 auto 10px auto;
  }
  [data-widget="results"] [data-action="load-more"] .icon-chevron-down {
    visibility: hidden;
  }
  [data-widget="results"] [data-action="load-more"] .icon-chevron-right {
    margin: -1px 0 0 5px;
    visibility: visible;
  }
  [data-widget="results"] .nav-list {
    padding: 0;
  }
  [data-widget="results"] .nav-sidebar {
    margin-bottom: 5px;
    overflow: hidden;
  }
  [data-widget="results"] .sidebar {
    width: 100%;
    overflow: scroll;
  }
  [data-widget="results"] .sidebar .wrapper {
    position: relative;
    display: table-row;
    height: 80px;
    padding: 0 15px;
  }
  [data-widget="results"] .sidebar .result-item {
    display: table-cell;
    width: 80px;
    height: 80px;
    white-space: nowrap;
  }
  [data-widget="results"] .sidebar .result-item .span3 {
    text-align: center;
  }
  [data-widget="results"] .sidebar .result-item .user-picture {
    width: 50px;
  }
  [data-widget="results"] .sidebar .result-item .muted,
  [data-widget="results"] .sidebar .result-item header {
    display: none;
  }
  [data-widget="results"] .sidebar .result-item:nth-child(2n) {
    background-color: transparent;
  }
  [data-widget="results"] .sidebar .result-item a:hover {
    background: transparent;
  }
  [data-widget="results"] .sidebar .result-item a:hover .user-picture {
    border-color: #005580;
  }
  [data-widget="visualisation"] .js-message {
    position: relative;
    font-size: 85%;
  }
  [data-widget="visualisation"] .js-message .js-reset {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 85%;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-inverse .brand {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  [data-widget="search"] {
    width: 94%;
    height: 45px;
    padding: 0 3%;
    margin: 0;
  }
  [data-widget="search"] .search-query {
    width: 70%;
    box-sizing: border-box;
  }
  [data-widget="search"] form .btn-primary {
    width: 28%;
  }
  [data-widget="recent-searches"] {
    float: none;
    width: 94%;
    padding: 0 3%;
    margin: 0;
  }
  [data-widget="recent-searches"] .btn-group {
    width: 100%;
  }
  [data-widget="recent-searches"] .btn-group .dropdown-toggle,
  [data-widget="recent-searches"] .btn-group .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
  }
  .navbar-fixed-top {
    margin-bottom: 10px;
  }
  [data-action="load-more"] {
    font-size: 85%;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  [data-widget="results"] .well {
    padding: 10px 0;
  }
  [data-widget="results"] [data-action="load-more"] {
    width: 90%;
    font-size: 70%;
  }
  [data-widget="results"] .sidebar {
    width: 100%;
  }
  [data-widget="results"] .sidebar .user-picture {
    width: 25px;
  }
  [data-widget="results"] .sidebar .result-item h1 {
    font-size: 12px;
    line-height: 12px;
  }
  [data-widget="results"] .sidebar .result-item small {
    font-size: 75%;
  }
}

@media (max-width: 1199px) {
  [data-widget="results"] .result-item .user-picture {
    width: 30px;
  }
}

@media (min-width: 1200px) {
  [data-widget="results"] .sidebar {
    width: 240px;
  }
}