@import "mixins.less";

@linkColor: #0088cc;

body {
	padding-top: 60px;
}

.navbar .brand {
	float: right;
}

.user-picture.img-circle {
	border: 4px solid white;
}

.container-fluid {
	margin-bottom: 40px;
}

[data-widget="search"] {
	form {
		margin: 5px 0;

		.btn-primary {
			margin: 0;
		}

		.search-query {
			opacity: 0.5;

			.transition(opacity 0.2s ease);

			&:hover {
				opacity: 0.8;
			}

			&:focus {
				opacity: 1;
			}
		}
	}

	margin-right: 20px;
}

[data-widget="recent-searches"] {
	margin-top: 7px;

	.btn-group {
		margin: 0;

		.dropdown-menu {
			font-size: 12px;

			a {
				&:hover {
					.muted {
						color: lighten(@linkColor, 50%);
					}
				}
			}
		}
	}
}

[data-widget="results"] {

	.well {
		padding-top: 10px;
	}

	[data-action="load-more"] {
		width: 100%;
		margin: 10px auto;
		display: block;

		.icon-chevron-right {
			visibility: hidden;
		}
	}

	.sidebar {
		padding: 0;
	}

	.nav-list {
		padding: 0;
	}

	.nav-header {
		margin: 0;
		text-align: center;
	}

	.wrapper {
		max-height: 583px;
		overflow: scroll;
		border-bottom: 1px solid #ccc;

		.loading {
			text-transform: uppercase;
			color: lighten(#999, 20%);
			font-size: 80%;
			text-align: center;
		}
	}

	.result-item {
		display: block;

		a {
			display: block;
			padding: 10px 5px;
			margin: 0;
			box-sizing: border-box;

			.transition(all 0.2s ease);

			&:hover {
				background-color: @linkColor;
				color: white;

				.muted {
					color: lighten(@linkColor, 50%);
				}
			}
		}

		.user-picture {
			width: 40px;
			.transition(all 0.2s ease);
		}

		h1 {
			margin: 8px 0 0 0;
			font-size: 12px;
			line-height: 14px;
		}

		&:nth-child(2n) {
			background-color: #eee;
		}

		&.selected {
			.user-picture {
				border-color: #005580;
			}
		}
	}
}

[data-widget="visualisation"] {

	.js-message {
		.js-reset {
			position: relative;
			top: -3px;
		}
	}

	.result-holder {
		background: lighten(#000, 90%);
		width: 100%;
		height: 600px;
		padding: 0;
		margin: 0;
		position: relative;
	}

	.result-detail {
		background: #FFF;
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		font-size: 12px;

		.transition(all 1s ease);

		&.secondary {
			blockquote, .meta {
				display: none;
			}

			.followers.badge {
				width: 100%;
				box-sizing: border-box;
				font-size: 1.5em;
				text-align: center;
				margin-top: 0.5em;
			}
		}

		&.small {
			font-size: 8px;

			.screen-name {
				h1 {
					font-size: 1.8em;
					line-height: 1.6em;
				}

				.user-picture {
					width: 4em;
				}
			}

			.tweet-text {
				margin-top: 5.5em;

				&:after {
					content: "";
					position: absolute;
					top: -2em;
					left: 0.4em;
					border: 1em solid transparent;
					border-bottom-color: #eee;
					display: block;
					width: 0;
				}
			}
		}

		&.medium {
			font-size: 10px;

			.screen-name {
				h1 {
					font-size: 1.8em;
					line-height: 1.6em;
				}

				.user-picture {
					width: 4em;
				}
			}

			.tweet-text {
				margin-top: 6.5em;

				&:after {
					content: "";
					position: absolute;
					top: -2em;
					left: 1em;
					border: 1em solid transparent;
					border-bottom-color: #eee;
					display: block;
					width: 0;
				}
			}
		}

		&.most-popular {
			.followers.badge {
				background-color: #b94a48;
			}

			.screen-name {
				color: #b94a48;

				.user-picture {
					border-color: #b94a48;
				}

				&:hover {
					color: darken(#b94a48, 15%);

					.user-picture {
						border-color: darken(#b94a48, 15%);
					}
				}
			}

			.tweet-text {
				color: #FFF;
				background: darken(#b94a48, 5%);

				&:after {
					border-bottom-color: darken(#b94a48, 5%);
				}
			}
		}

		.screen-name {
			h1 {
				font-size: 2em;
			}

			.transition(all 0.2s ease);

			.user-picture {
				border-color: @linkColor;
				width: 5em;
				margin: 0 1em 0 0;
				.transition(all 0.2s ease);
			}

			&:hover {
				.user-picture {
					border-color: #005580;
				}
			}
		}

		.followers {
			margin: 2em 0 0 0;
			font-size: 1em;
			padding: .5em 1em;
		}

		.meta {
			margin-left: 1.5em;
		}

		.tweet-text {
			position: relative;
			padding: 1em;
			margin: 8.5em 0 0.5em;
			color: #333;
			background: #eee;
			border-radius: 10px;
			font-size: 1em;

			p {
				font-size: 1.2em;
			}

			&:after {
				content: "";
				position: absolute;
				top: -3em;
				left: 1em;
				border: 1.5em solid transparent;
				border-bottom-color: #eee;
				display: block;
				width: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	[data-widget="results"] {

		.well {
			padding: 0 10px;
		}

		[data-action="load-more"] {
			margin: 0 auto 10px auto;
			.icon-chevron-down{
				visibility: hidden;
			}

			.icon-chevron-right {
				visibility: visible;
				margin: -1px 0 0 5px;
			}
		}

		.nav-list {
			padding: 0;
		}

		.nav-sidebar {
			overflow: hidden;
			margin-bottom: 5px;
		}

		.sidebar {
			width: 100%;
			overflow: scroll;

			.wrapper {
				padding: 0 15px;
				height: 80px;
				display: table-row;
				position: relative;
			}

			.result-item {
				width: 80px;
				height: 80px;
				white-space:nowrap;
				display: table-cell;

				.span3 {
					text-align: center;
				}

				.user-picture {
					width: 50px;
				}

				.muted, header {
					display: none;
				}

				&:nth-child(2n) {
					background-color: transparent;
				}

				a:hover {
					background: transparent;

					.user-picture {
						border-color: #005580;
					}
				}
			}
		}
	}

	[data-widget="visualisation"] {
		.js-message {
			font-size: 85%;
			position: relative;

			.js-reset {
				font-size: 85%;
				position: absolute;
				right: 10px;
				top: 5px;
			}
		}
	}
}

@media (max-width:979px) {
	body {
		padding-top: 0;
	}

	.navbar-inverse {
		.brand {
			float: none;
			margin: 0 auto;
			text-align: center;
		}
	}

	[data-widget="search"] {
		width: 94%;
		height: 45px;
		padding: 0 3%;
		margin: 0;

		.search-query {
			width: 70%;
			box-sizing: border-box;
		}

		form {
			.btn-primary {
				width: 28%;
			}
		}
	}

	[data-widget="recent-searches"] {
		float: none;
		width: 94%;
		padding: 0 3%;
		margin: 0;

		.btn-group {
			width: 100%;
			.dropdown-toggle, .dropdown-menu {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}

	.navbar-fixed-top {
		margin-bottom: 10px;
	}

	[data-action="load-more"] {
		font-size: 85%;
	}

	.form-search {

	}
}

@media (max-width: 979px) and (min-width: 768px){
	[data-widget="results"] {

		.well {
			padding: 10px 0;
		}

		[data-action="load-more"] {
			width: 90%;
			font-size: 70%;
		}

		.sidebar {
			width: 100%;

			.user-picture {
				width: 25px;
			}

			.result-item {
				h1 {
					font-size: 12px;
					line-height: 12px;
				}

				small {
					font-size: 75%;
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	[data-widget="results"] {
		.result-item {
			.user-picture {
				width: 30px;
			}
		}
	}
}

@media (min-width: 1200px) {
	[data-widget="results"] {
		.sidebar {
			width: 240px;
		}
	}
}